[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pytest = "*"
ipython = "*"
flask = "*"
flask-jwt = "*"
celery = "*"
flask-restful = "*"
sqlalchemy = "*"
requests = "*"
coverage = "*"

[requires]
python_version = "3.6"
