[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
ipython = "*"
joblib = "*"
pytest = "*"
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
requests = "*"
python-jsonschema-objects = "*"

[requires]
python_version = "3.6"
